@media (min-width: 992px) {
    .alto-100 {
        height: 100vh;
    }
}

.alto-input {
    height: 100px !important;
}

$font-size-base:2rem;

.alto-title {
    height: 75px !important;
}

$font-family-sans-serif:'Lato',
sans-serif;
@import "../node_modules/bootstrap/scss/bootstrap";